<% if comment.persisted? %>
  <div class="col-11 pb-3 pr-2">
    <p class="my-0 mr-2 grey-color"><%= comment.body %></p>
    <div>
      <small class="text-secondary">
        <span><%= image_tag current_user.photo.url(:thumb), class: "user-comment-avatar img-fluid"%>  <%= comment.user.try(:name) %></span>
        <span class="float-right"><%= time_ago_in_words(comment.created_at)%> ago</span> 
      </small> 
    </div>
  </div>
<% end %>
