<div class="container-fluid col-lg-6">
  <%= simple_form_for(@rsslink) do |f| %>
  <%= f.input :url, label: false, placeholder: "Enter url" %>
  <%= f.submit "Create", class: 'btn btn-success btn-lg btn-block' %>
  <% end %>
  <%= link_to 'Back', events_path, class: 'btn btn-outline-danger mt-lg-3'%>
</div>




