<nav class="navbar fixed-bottom navbar-expand-sm navbar-dark bg-default">
  <a class="navbar-brand text-primary" href="#"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <i class="fa fa-location-arrow text-primary">441/71A Lê Văn Sỹ Quận 3, Sài Gòn</i> 
        <i class="fa fa-phone text-primary mx-5">0974250742</i>
        <i class="fa fa-envelope text-primary mx-5">dhoangk07@gmail.com</i>
      </li>
    </ul>
  </div>
  <div class="icon-social pull-right" >
    <span class="rectangle"></span>
    <%= link_to '<i class="fa fa-youtube-square fa-2x " ></i>'.html_safe, 'https://youtube.com', :target => "_blank" %>
    <%= link_to '<i class="fa fa-facebook-square fa-2x mx-1" ></i>'.html_safe, 'https://fb.com', :target => "_blank" %>
    <%= link_to '<i class="fa fa-twitter-square fa-2x" ></i>'.html_safe, 'https://twitter.com', :target => "_blank" %>
  </div>
</nav>
