<nav class="navbar fixed-bottom navbar-expand-sm navbar-dark bg-default">
  <a class="navbar-brand text-primary" href="#"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <i class="fa fa-location-arrow text-primary"><a href="https://www.google.com/maps/dir//443%2F71A+%C4%90%C6%B0%E1%BB%9Dng+L%C3%AA+V%C4%83n+S%E1%BB%B9,+Ph%C6%B0%E1%BB%9Dng+12,+Qu%E1%BA%ADn+3,+H%E1%BB%93+Ch%C3%AD+Minh,+Vietnam/@10.7874783,106.6723263,17z/data=!4m8!4m7!1m0!1m5!1m1!1s0x31752ed5a3e416ff:0xd5771c58ac269216!2m2!1d106.674515!2d10.787473"target="_blank">441/71A Lê Văn Sỹ Quận 3, Sài Gòn</a></i> 
        <i class="fa fa-phone text-primary mx-5">0974250742</i>
        <i class="fa fa-envelope text-primary mx-5"><%= mail_to "dhoangk07@gmail.com" %></i>
        <i class="fa fa-skype text-primary">dhoangk07@gmail.com</i>
      </li>
    </ul>
  </div>
  <div class="icon-social pull-right" >
    <span class="rectangle"></span>
    <%= link_to '<i class="fa fa-youtube-square fa-2x " ></i>'.html_safe, 'https://youtube.com', :target => "_blank" %>
    <%= link_to '<i class="fa fa-facebook-square fa-2x mx-1" ></i>'.html_safe, 'https://fb.com', :target => "_blank" %>
    <%= link_to '<i class="fa fa-twitter-square fa-2x" ></i>'.html_safe, 'https://twitter.com', :target => "_blank" %>
  </div>
</nav>
