.scroll-box{
  height  : 350px;
  overflow: scroll;
}
.grey-color{
  background-color: #f4f4f4;
  border          : none;
}
.user-comment-avatar{
  width        : 25px;
  height       : 25px;
  border-radius: 50%;
}