@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

.darker_event {
	background-color: #e0dede;
}

.icon-tag{ 
  color: #2b618e;
}
.event-source{
  color: #00ddff;
}
.pagination {
  display: flex;
  padding-left: 140px !important;
  list-style: none;
  border-radius: 0.25rem;
}