.bg-default{
  background-color: #e1e1e1 !important;
} 
.icon-social{
  padding-top: 5px;
}
.fixed-bottom {
  clear: both;
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1030;
}
#back-to-top .top {
    z-index: 999;
    position: fixed;
    margin: 0px;
    color: #fff;
    background: green;
    position: fixed;
    bottom: 88px;
    right: 25px;
    z-index: 999;
    font-size: 26px;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    border-radius: 90px;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
a, a:hover, a:focus {
    -webkit-transition: all 250ms ease-in-out 0s;
    -moz-transition: all 250ms ease-in-out 0s;
    -ms-transition: all 250ms ease-in-out 0s;
    -o-transition: all 250ms ease-in-out 0s;
    transition: all 250ms ease-in-out 0s;
    text-decoration: none;
  }