.dropdown-toggle::after {
  display: none;
}
.user-avatar{
  width        : 50px;
  height       : 50px ;
  border-radius: 50%;
}
.without-avatar{
  width           : 50px;
  height          : 50px;
  border-radius   : 50%;
  padding-top     : 14px;
  color           : white;
  padding-left    : 2px;
  font-weight     : 500;
  background-color: #28a745;
}
.border-none{
  border: none;
}
button:focus {outline:0;cursor: pointer;}
button img{cursor: pointer;}