 <% if action_name == 'index' && controller_name == 'events' %>
  <div id="back-to-top" class="mb-5" style="display: block;">
    <a class="top mr-4" id="top" href="#top">
      <i class="fa fa-angle-double-up btn-sm" aria-hidden="true" title="Back To Top"></i> 
    </a>
  </div>
<% end %>
<nav class="navbar fixed-bottom navbar-expand-sm navbar-dark bg-default">
  <a class="navbar-brand text-primary" href="#"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <i class="fa fa-envelope text-primary mx-5"><%= mail_to "dhoangk07@gmail.com" %></i>
        <i class="fa fa-skype text-primary">dhoangk07@gmail.com</i>
      </li>
    </ul>
  </div>
  <div class="icon-social pull-right" >
    <span class="rectangle"></span>
    <%= link_to '<i class="fa fa-youtube-square fa-2x " ></i>'.html_safe, 'https://youtube.com', :target => "_blank" %>
    <%= link_to '<i class="fa fa-facebook-square fa-2x mx-1" ></i>'.html_safe, 'https://fb.com', :target => "_blank" %>
    <%= link_to '<i class="fa fa-twitter-square fa-2x" ></i>'.html_safe, 'https://twitter.com', :target => "_blank" %>
  </div>
</nav>
<script type="text/javascript">
  function backtotop() {
    $('#back-to-top').fadeOut();
    $(window).scroll(function() {
        if ($(this).scrollTop() > 250) {
            $('#back-to-top').fadeIn(1500);
        } else {
            $('#back-to-top').fadeOut(500);
        }
    });
    // scroll body to 0px on click
    $('#top').on('click', function() {
        $('top').tooltip('hide');
        $('body,html').animate({
            scrollTop: 0
        }, 800);
        return false;
    });
  }
</script>